/* BASIC STYLES HERE */

body {
    background-position: center;
    background-size: cover;
}


.timeStyle {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.696);
}


.cardStyle {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.789);
    outline: thick solid white;
}


.hoverParent .hoverChild {
    opacity: 0;
    transition: ease-in, 1s;
}


.hoverParent:hover .hoverChild {
    opacity: 1;
    cursor: pointer;
}

