<section class="container-fluid">
    <section class="row justify-content-center mb-4">
        <div class="col-2 cardStyle me-4 text-light text-center d-flex justify-content-center align-items-center p-2">
            <h1 id="current-time">time</h1>
        </div>
        <div class="col-2 cardStyle ms-4" id="weather-view"></div>
    </section>
    <section class="row justify-content-center">
        <div class="col-4 cardStyle p-3 me-4">
            <div class="text-center text-light">
                <h2>To do list</h2>
                <div class="d-flex justify-content-center">
                    <h3 class="me-2">List count:</h3>
                    <h3 class="" id="list-count-view"></h3>
                </div>
            </div>
            <div class="d-flex justify-content-center mb-2 text-light">
                <form onsubmit="app.ToDoController.makeToDo()">
                    <label for="">New to do:</label>
                    <input class="" required name="description" type="text">
                    <button class="btn btn-outline-light"><i class="fs-5 mdi mdi-plus-thick"></i></button>
                </form>
            </div>
            <div class="d-flex flex-column" id="toDo-view"></div>
        </div>
        <div class="col-4 cardStyle h-25 p-2 ms-4" id="quote-view"></div>
    </section>
</section>